@font-face{
    font-family: "OCRAEXT";
    src: url("/fontes/OCRAEXT.TTF");
}

.conteiner nav{
    background-color:rgb(31, 18, 2); 
    color: rgb(224 ,209, 149);
}

#bnt-cadastro{
    background-color: rgb(31, 18, 2);
    cursor: pointer;
    color: rgb(255, 238, 170);
    border:rgb(255, 238, 170);
}

#form{
    position: absolute;
    top: auto;
    margin-left: 0%;
    margin-top: 10px;
    padding: 15px;
}
#form h3, #h3 {
    text-align: center;
    font-family: "OCRAEXT";
    font-size: 20px;
}
#form div input, #form div select{
    border: 1px solid rgb(31, 18, 2);
}

