@font-face{
    font-family: "OCRAEXT";
    src: url("../fontes/OCRAEXT.TTF");
}

.conteiner nav{
    background-color:rgb(31, 18, 2); 
    color: rgb(224 ,209, 149);
}

#bnt-cadastro, #bnt-login{
    background-color: rgb(31, 18, 2);
    cursor: pointer;
    color: rgb(255, 238, 170);
    border:rgb(255, 238, 170);
}

*{
    font-size: 15px;
}

.row{
    background-color: #feeeab;
    margin-bottom: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.btn-warning{
    width: 100%;
}

h2{
    font-size: 20px;
}

.imagem{
    width: 200px;
    height: 100px;
}