<div class="container">
  <div class="perfil">
    <div class="row">
      <div class="circulo">
        <img src="https://i.imgur.com/gCUljIe.jpg">
      </div>
      <label class="nome">{{nome}}</label>
    </div>

    <div class="minhas-info">
      <label class="titulo mt-4">Minhas Informações</label><br>
      <label class="sobre-mim">{{sobre}}</label>
      <label class="info">Tenho {{idade}} anos</label><br>
      <label class="info">Meu endereço é {{endereco}}</label>
    </div>

    <hr>
    <label class="titulo">Favoritos</label><br>
    <label class="subtitulo">Minhas Listas</label>
    <div class="minha-lista">
      <ul>
        <a href="">
          <li>
            Aniversário do Gabriel<br>
            <span>Criada: 29/04/2019</span>
          </li>
        </a>
        <a href="">
          <li>
            Casamento da Júlia e Rodrigo<br>
            <span>Criada: 23/03/2019</span>
          </li>
        </a>
        <a href="">
          <li>
            Aniversário da Cláudia<br>
            <span>Criada: 17/01/2019</span>
          </li>
        </a>
      </ul>
    </div>
  </div>
</div>