<div class="container">
  <div class="perfil">
    <div class="row topo">
      <div class="circulo">
        <img src="https://i.imgur.com/UoAbzwO.jpg">
      </div><br>
      <label class="nome">{{nome}}</label>
    </div>

    <div class="minhas-info">
      <label class="titulo mt-4">Minhas Informações</label><br>
      <label class="sobre-mim mar">{{sobre}}</label>
      <label class="info mar">Meu endereço é {{endereco}}</label>
    </div>

    <hr>
    <label class="titulo">Meus Anúncios</label><br>
    <button type="submit" class="btn btn-warning">Novo Anúncio</button>
    <div class="minha-lista">
      <div class="row">
        <div class="item">
          <div class="imagem">
            <img src="https://i.imgur.com/ILcLMjZ.jpg" width="100px" height="100px">
          </div>
          <div class="infoItem">
            <label>Categoria: {{categoria1}}</label><br>
            <label>Subcategoria: {{subcategoria1}}</label><br>
            <label>Criado: {{dataCriado1}}</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="item">
          <div class="imagem">
            <img src="https://i.imgur.com/d6i9zD1.jpg" width="100px" height="100px">
          </div>
          <div class="infoItem">
            <label>Categoria: {{categoria2}}</label><br>
            <label>Subcategoria: {{subcategoria2}}</label><br>
            <label>Criado: {{dataCriado2}}</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="item">
          <div class="imagem">
            <img src="https://i.imgur.com/6MbZQtG.jpg" width="100px" height="100px">
          </div>
          <div class="infoItem">
            <label>Categoria: {{categoria3}}</label><br>
            <label>Subcategoria: {{subcategoria3}}</label><br>
            <label>Criado: {{dataCriado3}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>