<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<div class="container">
  <div class="row">
    <img class="imagem" src="https://i.imgur.com/kicUmKl.png">
  </div>
  <div class="form-group">
    <h2>Faça o login para continuar</h2>
    <hr>
    <form action="">
      <label>Email:</label>
      <input type="text" class="form-control" placeholder="Digite seu email..."><br>
      <label>Senha:</label>
      <input type="password" class="form-control" placeholder="Digite sua senha..."><br>
      <button type="submit" class="btn btn-warning">Entrar</button>
      <label>Ainda não possui uma conta? <a href="">Registre-se aqui</a></label>
    </form>
  </div>
  <div class="rodape">

  </div>
</div>